.search-wrapper {
    display: flex;
    align-items: center;
    width: 50%;
}

@media screen and (max-width: 600px) {
    .search-wrapper {
        width: 100%;
    }
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .img-no-data {
        width: 60%;
    }
}
