@import '../../scss/variables';

.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .wrapper-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .content {
            flex: 1;
            overflow: auto;
            padding: 20px;
            position: relative;
        }
    }

    .btn-fab {
        position: fixed;
        border-radius: 50%;
        bottom: 24px;
        left: 24px;
        z-index: 999;
        backdrop-filter: blur(6px);
        background-color: $box-bg-active;
        color: $primary-main;

        &:hover {
            background-color: $box-bg-active;

            .btn-fab-icon {
                transform: scale(1.06);
            }
        }
    }
}
