$primary-lighter: #c8facd;
$primary-light: #5be584;
$primary-main: #00ab55;
$primary-dark: #007b55;
$primary-darker: #005249;

$secondary-lighter: #d6e4ff;
$secondary-light: #84a9ff;
$secondary-main: #3366ff;
$secondary-dark: #1939b7;
$secondary-darker: #091a7a;

$info-lighter: #cafdf5;
$info-light: #61f3f3;
$info-main: #00b8d9;
$info-dark: #006c9c;
$info-darker: #003768;

$success-lighter: #d8fbde;
$success-light: #86e8ab;
$success-main: #36b37e;
$success-dark: #1b806a;
$success-darker: #0a5554;

$warning-lighter: #fff5cc;
$warning-light: #ffd666;
$warning-main: #ffab00;
$warning-dark: #b76e00;
$warning-darker: #7a4100;

$error-lighter: #ffe9d5;
$error-light: #ffac82;
$error-main: #ff5630;
$error-dark: #b71d18;
$error-darker: #7a0916;

$grey0: #fff;
$grey100: #f9fafb;
$grey200: #f4f6f8;
$grey300: #dfe3e8;
$grey400: #c4cdd5;
$grey500: #919eab;
$grey600: #637381;
$grey700: #454f5b;
$grey800: #212b36;
$grey900: #161c24;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// grey500
$border-color: rgba(145, 158, 171, 0.24);

// grey500
$box-bg: rgba(145, 158, 171, 0.24); 

$box-bg-active: #00ab5514;

// grey600
$icon-color: #637381;
