$primary-lighter: #C8FACD;
$primary-light: #5BE584;
$primary-main: #00AB55;
$primary-dark: #007B55;
$primary-darker: #005249;

$secondary-lighter: #D6E4FF;
$secondary-light: #84A9FF;
$secondary-main: #3366FF;
$secondary-dark: #1939B7;
$secondary-darker: #091A7A;

$info-lighter: #CAFDF5;
$info-light: #61F3F3;
$info-main: #00B8D9;
$info-dark: #006C9C;
$info-darker: #003768;

$success-lighter: #D8FBDE;
$success-light: #86E8AB;
$success-main: #36B37E;
$success-dark: #1B806A;
$success-darker: #0A5554;

$warning-lighter: #FFF5CC;
$warning-light: #FFD666;
$warning-main: #FFAB00;
$warning-dark: #B76E00;
$warning-darker: #7A4100;

$error-lighter: #FFE9D5;
$error-light: #FFAC82;
$error-main: #FF5630;
$error-dark: #B71D18;
$error-darker: #7A0916;

$grey0: #FFF;
$grey100: #F9FAFB;
$grey200: #F4F6F8;
$grey300: #DFE3E8;
$grey400: #C4CDD5;
$grey500: #919EAB;
$grey600: #637381;
$grey700: #454F5B;
$grey800: #212B36;
$grey900: #161C24;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
